[disaggregator]
start_time = 2011-04-23
end_time = 2011-04-30
sigma = 20
ri = 0.15
T_Positive = 20
T_Negative = -20
alpha = 0.5
beta = 0.5
instancelimit = 7
init_size = 5760
frame_size = 360

[dataset]
start_time = 2011-04-23
end_time = 2011-04-30
channel_mask = refrigerator, kitchen_outlets, microwave, lighting
sort_order = refrigerator,  kitchen_outlets, kitchen_outlets2, microwave, lighting
